<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../src/main.css">
</head>
<body>
<div class="container-fluid">
    <div class="row bg-success" style="height: 200vh;"></div>
    <div class="row fixed-bottom  bg-black">
        <input type="text" class="w-100 h-100 p-5">
    </div>
</div>
</body>
</html>